@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

#game-title {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    color: #00bcd4;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 20px;
    text-align: center;
}

#game-title::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-image: url('https://raw.githubusercontent.com/Omoluabi1003/Ariyo-AI/main/logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

#game-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
    background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc), linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    padding: 5vh 0;
}

#puzzle-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#puzzle-grid {
    display: grid;
    border: 2px solid #333;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: min(90vw, 90vh, 400px);
    height: calc(min(90vw, 90vh, 400px) * 0.75);
    max-width: 400px;
}

.puzzle-tile {
    border: 1px solid #ccc;
    background-size: 400px 300px;
    cursor: pointer;
}

.empty-tile {
    background: #eee;
}

#puzzle-controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#difficulty, #puzzle-name {
    padding: 5px;
    border-radius: 5px;
}

#start-button, #stop-button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #00bcd4;
    color: white;
    border: none;
    cursor: pointer;
}

#score, #timer {
    font-weight: bold;
}

#instructions {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #333;
    text-align: center;
    font-weight: bold;
    max-width: 400px;
    padding: 0 20px;
}

@media screen and (max-width: 600px) {
    #game-container {
        text-align: center;
    }
}
