:root {
    --background-color: #000;
    --text-color: #fff;
    --theme-color: #4169E1;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fff;
        --text-color: #000;
        --theme-color: #87CEFA;
    }
}
